* {
    margin:0px;
    padding:0px;
}

.nav {
    margin:auto;
    max-width:100vw;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

ul, ol {
    list-style:none;
}

.nav-list {
    display: flex;
}
.nav-list-li {
    float:left;
}

.nav-list li a {
    background-color:burlywood;
    color:#fff;
    text-decoration:none;
    padding:10px 15px;
    display:block;
}

.nav-list li a:hover {
    background-color:rgba(222, 184, 135, 0.863);
}

.nav-list li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav-list li:hover > ul {
    display:block;
}

.nav-list li ul li {
    position:relative;
}

.nav-list li ul li ul {
    right:-140px;
    top:0px;
}
